# Data Loading, Storage

In [115]:
import numpy as np
import pandas as pd
np.random.seed(111)
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (10, 6))
plt.rc('font', family = 'D2Coding')
np.set_printoptions(precision=4, suppress = True)

* plt.rc('figure', figsize = ()) : 차트 default 사이즈 설정
* plt.rc('font', family = '') : matplotlib 차트 한글 폰트 설정을 위해
* np.set_printoptions(precision = ~) : 데이터 결과 출력 시, 소수점 몇 번째까지 <br>출력할 것인지.

## Reading and Writing Data in Text Format

* 쉼표로 구분 된 .csv 파일을 pandas.read_csv()로 읽기

In [116]:
# 리눅스 user는 cat, 윈도우 user는 type.
!type ..\pydata_book\examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [117]:
df = pd.read_csv('..\pydata_book\examples\ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

* 쉼표로 구분 된 .csv 파일을 pandas.read_table()에 구분자 옵션을 지정하여 읽기

In [118]:
pd.read_table('..\pydata_book\examples\ex1.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

* Column이 없는 파일 읽기

In [119]:
!type ..\pydata_book\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [120]:
# Column자동 생성
pd.read_csv('..\pydata_book\examples\ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [121]:
# 직접 Column 지정
pd.read_csv('..\pydata_book\examples\ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

* 특정 Column을 Index로 지정하여 읽기(index_col 옵션)

In [122]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('..\pydata_book\examples\ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [123]:
# 몇 번째 Column인지 숫자로 값을 주어도 같은 결과를 출력한다.
pd.read_csv('..\pydata_book\examples\ex2.csv', names = names, index_col = 4)

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

* 계층적 Index를 지정하여 읽기

In [124]:
!type ..\pydata_book\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [125]:
parsed = pd.read_csv('..\pydata_book\examples\csv_mindex.csv', index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

* 고정된 구분자 없이 여러 개의 공백이나<br>다른 패턴으로 필드를 구분해 놓은 데이터 읽기<br>: read_table(), 정규표현식('\s+')

In [126]:
list(open('..\pydata_book\examples\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [127]:
result = pd.read_table('..\pydata_book\examples\ex3.txt', sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

* 특정 Row를 제거하고 읽기<br>
: read_csv(), skiprows 옵션

In [128]:
# 불필요한 대화 지문들이 보인다.
!type ..\pydata_book\examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [129]:
pd.read_csv('..\pydata_book\examples\ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

* 누락된 값 자동처리 (비어 있는 값, NA, -1, #IND, NULL 등)

In [130]:
# 2 번째 행에 NA와 3 번째 행의 7이 있어야 할 자리에 값이 비어져 있는 것이 보인다.
!type ..\pydata_book\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [131]:
result = pd.read_csv('..\pydata_book\examples\ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [132]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

## Reading Text Files in PIeces

* max_rows 지정
: 파일의 전체 데이터 출력 최대 행 수

In [133]:
pd.options.display.max_rows = 10

In [134]:
result = pd.read_csv('..\pydata_book\examples\ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

* nrows 옵션 : 처음부터 n 번째까지만 출력

In [135]:
result = pd.read_csv('..\pydata_book\examples\ex6.csv', nrows = 7)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U

## Writing Data to Text Format

In [136]:
data = pd.read_csv('..\pydata_book\examples\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

* to_csv<br>
: 기본적인 Pandas 파일 Write 함수

In [137]:
data.to_csv('writingDataExample1.csv')
!type writingDataExample1.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

* 구분자 지정<br>
: sep 옵션<br>
* to_csv(sys.stdout)<br>
: 실제로 파일을 Write 하지 않고 콘솔 상에서 Write할 결과를 보는 방법.

In [138]:
import sys

# default 구분자인 쉼표(,)가 아닌 '|'로 Write 해본다.
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

* Write 시, NULL 값 표현 방식 지정.<br>
: na_rep 옵션

In [139]:
data.to_csv(sys.stdout, na_rep = "NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

* to_csv() 의 옵션들에 대해서 특별히 값을 명시 해 주지 않을 경우,<br>default로 Column과 Index도 함께 Write 된다.

In [140]:
# 상황 1 : 옵션 명시 X
data.to_csv(sys.stdout)

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [141]:
# 상황 2 : 옵션 명시
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

* 원하는 Column만 Write<br>
: columns 옵션

In [142]:
# 해당 데이터는 Column으로 [something, a, b, c, d, message]를 가지고 있다.
# [a, b, c] 컬럼들만 Write 해본다.
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0